.img-container{
	float:left;
	clear:both;
	text-align:right;
	width: 220px;
}

.employee-img{
	width:128px;
	height:128px;

}

.img-edit{
	width:128px;
	height:128px;
	margin:auto;
	clear:both;
	padding:5px;
}

.img-edit img{
	width:128px;
	height:128px;
}

.property-container{
	clear:both;
	position:relative;
	left:128px;
	overflow: hidden;
}

.employee-container{
	clear:both;
	
}
h2{
	border-bottom: 1px solid #cccccc;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
    text-align:center;
    color: #48802c;
    font-size: 1.25em;
    font-weight: normal;
}
#calendar{
   	clear: both;
    margin: auto;
    text-align: center;
    width: 96%;
}
#loginPanel{
	background-color: #abbf78;
	margin;
	text-align:right;
}